extend _bootstrap

append styles
  +bootswatch('flatly')
  //-link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=cyrillic,latin')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lato-font@3.0.0/css/lato-font.min.css')
  link(rel='stylesheet', href='/css/style.css')

append body
  .container
    block activenav
      - var activepage = ''

    +navbar('Матрица проектов','dropdown_menu', 'default', '/')
      +nav_item('/about', (activepage === 'about') ? 'active' : '') Что это?
      +nav_item('/register', (activepage === 'register') ? 'active' : '') Регистрация
      +nav_item_dropdown('/projects', (activepage === 'projects') ? 'active' : '')&attributes({label:'Проекты'})
        +nav_item('/projects', (activepage === 'projects') ? 'active' : '') Все
        +nav_item('/projects/my', (activepage === 'projects_my') ? 'active' : '') Мои
      +nav_item('/login', (activepage === 'login') ? 'active' : '') Войти
      +nav_item('/logout') Выйти

    block content

    footer.navbar-default.navbar-fixed-bottom
      p.text-center.text-muted Projects pool &copy 2018          

append scripts
