extends _layout

block activenav
  - var activepage = ''

block content
  .jumbotron
    h1 Станьте частью сообщества
    br
    p.lead
      | И получите доступ к ресурсам других проектов и людей
    br
    +a-btn-primary('/projects/create') Зарегистрироваться
