extends _layout

block activenav
  - var activepage = 'projects'

block content
  h1 Все проекты
  
  table.table(class="table-striped")
    thead
      tr
        th #
        th Лого
        th.col-xs-5 Название
        th.col-xs-2 URL
        th.col-xs-2 Лидер
        th Действия
    tbody
      - let i=0
      each row in data
        - i++
        tr
          td
            a(href="/projects/" + row['_id'])=i
          td
            a(href='/projects/' + row['_id'])
              if row['logoFile']
                img.img-rounded.pull-left(src='/upload/img/' + row['logoFile'], alt='Logo', width="30px")
              else
                img.img-rounded.pull-left(src='/img/no-logo.png', alt='NoLogo', width="30px")
          td=row['name']
          td
            a(href=row['url'], target='_blank')=row['url']
          td=row['owner'].fullname
          td 
            a(href="/projects/" + row['_id']) Смотреть