extends _layout

block activenav
  - var activepage = 'register'

block content
  .container
    h1 Заполните форму своего проекта

    .row
      .col-sm-8
        form(method='post',enctype='multipart/form-data')
          input(name='_id', value=data._id, hidden=true)
          +input('text','prjName','Название проекта','Название','prjName',data.prjName)
          +input('text','prjUrl','Адрес сайта','URL','prjUrl',data.prjUrl)
          +textarea(3,'prjDescript','Вкратце о проекте (2-3 предложения)','Описание','prjDescript',data.prjDescript)
          +input('text','prjLeader','Глава проекта','Лидер','prjLeader',data.prjLeader)
          +input('file','prjLogo','','Логотип','prjLogo')
          +textarea(2,'prjStack','На каких технологиях разрабатывается проект?','Стек технологий','prjStack',data.prjStack)
          +textarea(2,'prjCapabilities','Чем вы можете помочь сообществу?','Ваши возможности','prjCapabilities',data.prjCapabilities)
          +textarea(2,'prjNeeds','Что нужно вам для реализации проекта?','Ваши потребности','prjNeeds',data.prjNeeds)
          +submit('Зарегистрировать')