body { padding-bottom: 70px; }
footer { padding-top: 10px; width: 1140px; left: 50% !important; margin: 0% -570px;}
.project > a.title > img {margin: 20px 20px 20px 0}
.project > a.title > h2 {padding: 40px 0 15px 0}